.localInfo{  
  position: relative;
  background-color: #062226;
  color: white;
  display: grid;
  gap: 20px;
  grid-auto-rows: auto;
  justify-items: center;
  justify-content: center;
  max-width:none;
  padding: 20px;
  padding-bottom: 40px;
}


.localInfo_lista{  
  font-size: 15px;
  display: flex;  
  gap: 100px;  
}




